

body {
    margin: 0;
    height: 100%;
    background: black;
}

#content {
    background: black;
    position: fixed;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
}

#nav {
    margin: 0;
    height: 50px;
    background: #fff;
    position: relative;
}


#bucket {
    margin: 300px 0 0 0;
    height: 400px;
    background: white;
    position: relative;
}

.text {
    font-family: Georgia, serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    color: lightgray;
    margin: 50px 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}